<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title> {{ 'PROFILE.HEADER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user !== undefined">
  <ion-card>
    <ion-card-header>
      <div class="header-container">
        <div class="user-info">
          <ion-card-title>
            <h1>
              {{'PROFILE.USER_NAME' | translate: {username: user.username} }}
            </h1>
          </ion-card-title>
          <div class="details">
            <h1>
              {{'PROFILE.PHONE_NUMBER' | translate: {phoneNumber:
              user?.phone_number} }}
            </h1>
            <h1>
              {{ 'PROFILE.EMERGENCY_PHONE_NUMBER' | translate:
              {emergencyPhoneNumber: user?.emergency_number} }}
            </h1>
          </div>
        </div>
        <img
          class="profile-image"
          src="assets/img/perfil.jpg"
          alt="Profile photo"
        />
      </div>
    </ion-card-header>
  </ion-card>
</ion-content>
