<ion-header
  class="ion-no-border"
  *ngIf="refuge !== undefined"
  (click)="openFullModal()"
>
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content *ngIf="refuge !== undefined">
  <ion-refresher slot="fixed" (ionRefresh)="refreshButton($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="about-header">
    <!-- Instead of loading an image each time the select changes, use opacity to transition them -->
    <div
      class="about-image"
      [ngStyle]="{'opacity': '1', 'background-image': 'url(' + getImageUrl() + ')'}"
    ></div>
  </div>

  <div class="about-info">
    <app-refuge-info [refuge]="refuge!"></app-refuge-info>
    <ion-grid
      *ngIf="!platformIsMobile()"
      style="margin-bottom: 30px; margin-top: 15px; margin-inline: 20px"
    >
      <ion-row>
        <ion-col>
          <ion-row>
            <h3 class="ion-padding-top ion-padding-start">
              {{ "REFUGE.RESERVATIONS.HEADER" | translate }}
            </h3>
          </ion-row>
          <ion-row>
            <app-reservation-picker
              class="ion-justify-content-center"
              size="1"
              [refuge]="refuge!"
              (reservation)="createReservation($event)"
            ></app-reservation-picker>
          </ion-row>
          <ion-row>
            <ng-container *ngIf="reservations | async as reservationNotNull">
              <app-reservations-item
                [reservations]="reservationNotNull"
                (removeReservation)="deleteReservation($event)"
              ></app-reservations-item>
            </ng-container>
          </ion-row>
        </ion-col>
        <ion-col style="margin-bottom: 50px">
          <app-reservations-chart [refuge]="refuge!"></app-reservations-chart>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid
      *ngIf="platformIsMobile()"
      style="margin-bottom: 30px; margin-top: 15px; margin-inline: 20px"
    >
      <ion-col>
        <ion-row>
          <h3 class="ion-padding-start" style="margin-top: 10px">
            {{ "REFUGE.RESERVATIONS.HEADER" | translate }}
          </h3>
        </ion-row>
        <ion-row>
          <app-reservation-picker
            class="ion-justify-content-center"
            size="1"
            [refuge]="refuge!"
            (reservation)="createReservation($event)"
          ></app-reservation-picker>
        </ion-row>
        <ion-row>
          <ng-container *ngIf="reservations | async as reservationNotNull">
            <app-reservations-item
              [reservations]="reservationNotNull"
              (removeReservation)="deleteReservation($event)"
            ></app-reservations-item>
          </ng-container>
        </ion-row>
        <ion-col>
          <app-reservations-chart [refuge]="refuge!"></app-reservations-chart>
        </ion-col>
      </ion-col>
    </ion-grid>
  </div>
</ion-content>
