<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      [(ngModel)]="search"
      (ionInput)="onSearchChange()"
      placeholder="{{ 'HOME.SEARCH_PLACES_BAR' | translate }}"
      (keyup.enter)="selectFirstSearchResult()"
    ></ion-searchbar>
    <ion-title></ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item
      *ngFor="let item of searchResults | async"
      tappable
      (click)="selectSearchResult(item)"
    >
      {{ item.description }}
    </ion-item>
  </ion-list>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="modalState$ | async as state">
    <ion-modal
      [isOpen]="state.isOpen"
      [breakpoints]="[0, 0.3, 1]"
      [initialBreakpoint]="0.3"
      (ionModalDidDismiss)="dismissedModal()"
    >
      <ng-template class="example-modal">
        <app-refuge class="example-modal" [refuge]="state.refuge"></app-refuge>
      </ng-template>
    </ion-modal>
  </ng-container>
  <capacitor-google-map #mapRef></capacitor-google-map>
</ion-content>
