<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      [(ngModel)]="search"
      (ionInput)="onSearchChange()"
      placeholder="{{ 'HOME.SEARCH_PLACES_BAR' | translate }}"
      (keyup.enter)="selectFirstSearchResult()"
    ></ion-searchbar>
    <ion-title></ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item
      *ngFor="let item of searchResults | async"
      tappable
      (click)="selectSearchResult(item)"
    >
      {{ item.description }}
    </ion-item>
  </ion-list>
</ion-header>

<ion-content [fullscreen]="true">
  <capacitor-google-map #mapRef></capacitor-google-map>
</ion-content>
