<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'RESERVATIONS.HEADER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list style="padding-block: 0px">
    <ion-item-group *ngFor="let res of reservations$ | async">
      <ion-item-divider sticky>
        <ion-label> {{ res.refuge.name }} </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let reservation of res.reservations">
        <ion-label routerLink="/home/{{reservation.refuge_id}}">
          <h3>
            {{'RESERVATIONS.DETAILS.HEADER' | translate: { day:
            reservation.night.day } }}
          </h3>
          <p>
            {{'RESERVATIONS.DETAILS.MESSAGE' | translate: { month:
            reservation.night.month, year: reservation.night.year, day:
            reservation.night.day } }}
          </p>
        </ion-label>
        <ion-button
          slot="end"
          color="danger"
          (click)="onRemoveReservation(reservation)"
        >
          <ion-icon slot="end" name="trash"></ion-icon>
          {{ 'RESERVATIONS.DELETE_BUTTON' | translate }}
        </ion-button>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ng-container *ngIf="deleteErrors$ | async as errorMessage">
    <ion-toast
      [isOpen]="errorMessage !== null"
      message="{{errorMessage | translate}}"
      color="danger"
      icon="bug-outline"
      [duration]="3000"
    ></ion-toast>
  </ng-container>
  <ng-container *ngIf="deletedReservation$ | async as isDeleted">
    <ion-toast
      [isOpen]="isDeleted"
      message="{{'RESERVATIONS.DELETE_SUCCESS' | translate}}"
      color="success"
      icon="checkmark-outline"
      [duration]="3000"
    ></ion-toast>
  </ng-container>
</ion-content>
