<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="reservations !== undefined">
  <ion-list style="padding-block: 0px">
    <ion-item-group *ngFor="let res of reservations | async">
      <ion-item-divider sticky>
        <ion-label> {{ res.refuge.name }} </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let reservation of res.reservations">
        <ion-label routerLink="/home/{{reservation.refuge_id}}">
          <h3>Dia {{reservation.night.day}}</h3>
          <p>
            La nit del dia: {{reservation.night.day}}, del mes:
            {{reservation.night.month}}, de l'any: {{reservation.night.year}}
          </p>
        </ion-label>
        <ion-button
          slot="end"
          color="danger"
          (click)="onRemoveReservation(reservation)"
        >
          <ion-icon slot="end" name="trash"></ion-icon>
          Elimina
        </ion-button>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
