<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'RESERVATIONS.HEADER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-reservations-fullscreen">
    <ion-list>
      <ion-item-group *ngFor="let res of reservations$ | async">
        <ion-item-divider>
          <ion-label class="refuge_name"> {{ res.refuge.name }} </ion-label>
          <img
            class="refuge-image"
            [src]="'https://backend.refuapp.online/static/images/refuges/' + res.refuge.image"
            alt="{{ res.refuge.name }}"
          />`
        </ion-item-divider>

        <ion-item *ngFor="let reservation of res.reservations">
          <ion-label routerLink="/home/{{reservation.refuge_id}}">
            <div class="reservation-details">
              {{'RESERVATIONS.DETAILS.HEADER' | translate: { day:
              reservation.night.day } }}

              <p>
                {{'RESERVATIONS.DETAILS.MESSAGE' | translate: { month:
                reservation.night.month, year: reservation.night.year, day:
                reservation.night.day } }}
              </p>
            </div>
          </ion-label>
          <ion-button
            slot="end"
            color="danger"
            (click)="onRemoveReservation(reservation)"
          >
            <ion-icon slot="end" name="trash"></ion-icon>
            {{ 'RESERVATIONS.DELETE_BUTTON' | translate }}
          </ion-button>
        </ion-item>
      </ion-item-group>
    </ion-list>
    <app-reactive-reservations></app-reactive-reservations>
  </div>
</ion-content>
