<ion-header
  class="ion-no-border"
  *ngIf="refuge !== undefined"
  (click)="openFullModal()"
>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="clickButton()">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="refuge !== undefined">
  <div class="about-header">
    <!-- Instead of loading an image each time the select changes, use opacity to transition them -->
    <div
      class="about-image"
      [ngStyle]="{'opacity': '1', 'background-image': 'url(' + getImageUrl() + ')'}"
    ></div>
  </div>

  <div class="about-info">
    <h3 class="ion-padding-top ion-padding-start">{{refuge.name}}</h3>

    <ion-list lines="none">
      <ion-item>
        <ion-label> {{ 'REFUGE.INFORMATION.REGION' | translate }}</ion-label>
        <ion-label class="ion-text-end"> {{refuge.region}} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'REFUGE.INFORMATION.ALTITUDE' | translate }}</ion-label>
        <ion-label class="ion-text-end">
          {{'REFUGE.INFORMATION.ALTITUDE_UNITY' | translate:{altitude:
          refuge.altitude} }}</ion-label
        >
      </ion-item>

      <ion-item>
        <ion-label
          >{{ 'REFUGE.INFORMATION.WINTER_CAPACITY' | translate }}</ion-label
        >
        <ion-label class="ion-text-end">
          {{ 'REFUGE.INFORMATION.CAPACITY_UNITY' | translate: {capacity:
          refuge.capacity.winter} }}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label
          >{{ 'REFUGE.INFORMATION.SUMMER_CAPACITY' | translate }}</ion-label
        >
        <ion-label class="ion-text-end">
          {{ 'REFUGE.INFORMATION.CAPACITY_UNITY' | translate: {capacity:
          refuge.capacity.summer} }}
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-grid *ngIf="!platformIsMobile()">
      <ion-row>
        <ion-col>
          <ion-row>
            <h3 class="ion-padding-top ion-padding-start">
              {{'REFUGE.RESERVATIONS.HEADER' | translate }}
            </h3>
          </ion-row>
          <ion-row style="padding-left: 5%">
            <ion-col>
              <ion-datetime
                presentation="date"
                [(ngModel)]="date"
                min="{{getCurrentDate()}}"
              ></ion-datetime>
            </ion-col>
            <ion-col>
              <ion-button (click)="onBookClick()" style="margin-left: 5%">
                {{'REFUGE.RESERVATIONS.BUTTON' | translate }}
                <ion-icon style="margin-left: 5%" name="folder"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="8">
          <h3
            style="margin-bottom: 1%"
            class="ion-padding-top ion-padding-start"
          >
            {{'REFUGE.OCCUPATION.HISTORIAL' | translate }}
          </h3>
          <div class="graphic-info">
            <div #chart></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="platformIsMobile()">
      <ion-col>
        <ion-row>
          <h3 class="ion-padding-top ion-padding-start">
            {{'REFUGE.RESERVATIONS.HEADER' | translate }}
          </h3>
        </ion-row>
        <ion-row style="padding-left: 5%">
          <ion-col>
            <ion-datetime
              presentation="date"
              [(ngModel)]="date"
              min="{{getCurrentDate()}}"
            ></ion-datetime>
          </ion-col>
          <ion-col>
            <ion-button (click)="onBookClick()" style="margin-left: 5%">
              {{'REFUGE.RESERVATIONS.BUTTON' | translate }}
              <ion-icon style="margin-left: 5%" name="folder"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-col>
          <h3 class="ion-padding-top ion-padding-start">
            {{'REFUGE.OCCUPATION.HISTORIAL' | translate }}
          </h3>
          <div class="graphic-info">
            <div #chart></div>
          </div>
        </ion-col>
      </ion-col>
    </ion-grid>
  </div>
</ion-content>
