<ion-header
  class="ion-no-border"
  *ngIf="refuge !== undefined"
  (click)="openFullModal()"
>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="refreshButton()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="refuge !== undefined">
  <div class="about-header">
    <!-- Instead of loading an image each time the select changes, use opacity to transition them -->
    <div
      class="about-image"
      [ngStyle]="{'opacity': '1', 'background-image': 'url(' + getImageUrl() + ')'}"
    ></div>
  </div>

  <div class="about-info">
  </div>
    <app-refuge-info [refuge]="refuge!"></app-refuge-info>
    <app-reservations [refuge]="refuge!"></app-reservations>
</ion-content>

