<ion-item>
  <ion-toggle
    [checked]="isForcedLanguageByUser$ | async"
    (ionChange)="onToggleChange($event)"
    >{{ "SETTINGS.FORCE_LANGUAGE" | translate }}</ion-toggle
  >
</ion-item>
<ion-item *ngIf="isForcedLanguageByUser$ | async">
  <ion-label>{{ "SETTINGS.LANGUAGE" | translate }}</ion-label>
  <ion-select
    class="language-select"
    value="{{ currentLanguage$ | async }}"
    placeholder="{{ 'SETTINGS.SELECT' | translate }}"
    (ionChange)="changeLanguage($event)"
  >
    <ion-select-option value="es">{{
      "SETTINGS.SPANISH" | translate
    }}</ion-select-option>
    <ion-select-option value="ca">{{
      "SETTINGS.CATALAN" | translate
    }}</ion-select-option>
    <ion-select-option value="en">{{
      "SETTINGS.ENGLISH" | translate
    }}</ion-select-option>
  </ion-select>
</ion-item>
