<!--<ion-grid *ngIf="!platformIsMobile()">-->
<!--  <ion-row>-->
<!--    <ion-col>-->
<!--      <ion-row>-->
<!--        <h3 class="ion-padding-top ion-padding-start">-->
<!--          {{ "REFUGE.RESERVATIONS.HEADER" | translate }}-->
<!--        </h3>-->
<!--      </ion-row>-->
<!--      <ion-row>-->
<!--        <app-reservation-picker [refuge]="refuge"></app-reservation-picker>-->
<!--      </ion-row>-->
<!--      <ion-row>-->
<!--        <ng-container *ngIf="reservations | async as reservationNotNull">-->
<!--          <app-reservations-item-->
<!--            [reservations]="reservationNotNull"-->
<!--          ></app-reservations-item>-->
<!--        </ng-container>-->
<!--      </ion-row>-->
<!--    </ion-col>-->
<!--    <ion-col size="8">-->
<!--      <app-reservations-chart [refuge]="refuge"></app-reservations-chart>-->
<!--    </ion-col>-->
<!--  </ion-row>-->
<!--</ion-grid>-->
<!--<ion-grid *ngIf="platformIsMobile()">-->
<!--  <ion-col>-->
<!--    <ion-row>-->
<!--      <h3 class="ion-padding-top ion-padding-start">-->
<!--        {{ "REFUGE.RESERVATIONS.HEADER" | translate }}-->
<!--      </h3>-->
<!--    </ion-row>-->
<!--    <ion-row>-->
<!--      <app-reservation-picker [refuge]="refuge"></app-reservation-picker>-->
<!--    </ion-row>-->
<!--    <ion-row>-->
<!--      <ng-container *ngIf="reservations | async as reservationNotNull">-->
<!--        <app-reservations-item-->
<!--          [reservations]="reservationNotNull"-->
<!--        ></app-reservations-item>-->
<!--      </ng-container>-->
<!--    </ion-row>-->
<!--    <ion-col>-->
<!--      <app-reservations-chart [refuge]="refuge"></app-reservations-chart>-->
<!--    </ion-col>-->
<!--  </ion-col>-->
<!--</ion-grid>-->



<ion-grid *ngIf="!platformIsMobile()" style="margin-bottom: 30px; margin-top: 15px; margin-inline: 20px">
  <ion-row>
    <ion-col>
      <ion-row>
        <ng-container *ngIf="reservations | async as reservationNotNull">
          <app-reservations-item
            [reservations]="reservationNotNull"
          ></app-reservations-item>
        </ng-container>
      </ion-row>
      <ion-row>
        <h3>
          {{'REFUGE.RESERVATIONS.HEADER' | translate }}
        </h3>
      </ion-row>
      <ion-row class="ion-justify-content-center" size="1">
        <app-reservation-picker [refuge]="refuge!"></app-reservation-picker>
      </ion-row>
    </ion-col>
    <ion-col style="margin-bottom: 50px">
      <app-reservations-chart [refuge]="refuge!"></app-reservations-chart>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid *ngIf="platformIsMobile()" style="margin-bottom: 30px; margin-top: 15px; margin-inline: 20px">
  <ion-row>
    <ng-container *ngIf="reservations | async as reservationNotNull">
      <app-reservations-item
        [reservations]="reservationNotNull"
      ></app-reservations-item>
    </ng-container>
  </ion-row>
  <ion-col class="ion-padding-start" style="margin-top: 10px">
    <ion-row>
      <h3>
        {{'REFUGE.RESERVATIONS.HEADER' | translate }}
      </h3>
    </ion-row>
    <ion-row class="ion-justify-content-center" size="1">
      <app-reservation-picker [refuge]="refuge!"></app-reservation-picker>
    </ion-row>
    <ion-col>
      <app-reservations-chart [refuge]="refuge!"></app-reservations-chart>
    </ion-col>
  </ion-col>
</ion-grid>
