<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'PROFILE.HEADER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user !== undefined">
  <ion-card class="profile-card">
    <ion-card-header>
      <div class="header-container">
        <img class="profile-image" [src]="avatar" alt="Profile photo" />
        <ion-card-title class="user-name">
          {{ 'PROFILE.USER_NAME' | translate: {username: user?.username} }}
        </ion-card-title>
        <div class="details" *ngIf="!isEditing; else editUserFrom">
          <p>
            {{ 'PROFILE.PHONE_NUMBER' | translate: { phoneNumber:
            user?.phone_number } }}
          </p>
          <p>
            {{ 'PROFILE.EMERGENCY_PHONE_NUMBER' | translate: {
            emergencyPhoneNumber: user?.emergency_number } }}
          </p>
        </div>
      </div>
    </ion-card-header>
  </ion-card>
  <ion-card class="language-card">
    <ion-card-header>
      <ion-card-title> {{ 'PROFILE.SETTINGS' | translate }} </ion-card-title>
    </ion-card-header>
    <!--    <ion-list>-->
    <!--      <app-language-settings></app-language-settings>-->
    <!--    </ion-list>-->
  </ion-card>
  <ion-note color="danger" *ngIf="hasError"> {{errorMessage}} </ion-note>
  <ion-fab *ngIf="!isEditing" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="isEditing = true">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #editUserFrom>
  <form #updateUser="ngForm" novalidate>
    <ion-input
      label-placement="floating"
      label="{{ 'UPDATE_USER.USERNAME' | translate }}"
      clearOnEdit="true"
      fill="outline"
      class="ion-text-left"
      type="text"
      name="username"
      [(ngModel)]="updateUserForm.username"
      errorText="{{ 'UPDATE_USER.USERNAME_NOT_FILLED' | translate }}"
      required="true"
    ></ion-input>
    <ion-input
      name="phone_number"
      label-placement="floating"
      label=" {{ 'UPDATE_USER.PHONE_NUMBER' | translate }}"
      [maskito]="phoneMask"
      [maskitoElement]="maskPredicate"
      placeholder="(+34) xxx xxx xxx"
      class="ion-text-left"
      errorText=" {{ 'UPDATE_USER.PHONE_NUMBER_NOT_FILLED' | translate }}"
      fill="outline"
      type="tel"
      clearOnEdit="true"
      [(ngModel)]="updateUserForm.phone_number"
      required="true"
    ></ion-input>
    <ion-input
      name="emergency_number"
      [maskito]="phoneMask"
      label-placement="floating"
      label=" {{ 'UPDATE_USER.EMERGENCY_PHONE_NUMBER' | translate }}"
      [maskitoElement]="maskPredicate"
      errorText=" {{ 'UPDATE_USER.EMERGENCY_PHONE_NUMBER_NOT_FILLED' | translate }}"
      fill="outline"
      type="tel"
      [(ngModel)]="updateUserForm.emergency_number"
      placeholder="(+34) xxx xxx xxx"
      class="ion-text-left"
      required="true"
      clearOnEdit="true"
    ></ion-input>
    <ion-input
      type="password"
      class="ion-text-left"
      clearOnEdit="true"
      name="password"
      label=" {{ 'UPDATE_USER.PASSWORD' | translate }}"
      label-placement="floating"
      fill="outline"
      [(ngModel)]="updateUserForm.password"
      errorText=" {{ 'UPDATE_USER.PASSWORD_NOT_FILLED' | translate }}"
      required="true"
      (keyup.enter)="onUpdate(updateUser)"
    ></ion-input>
    <ion-note color="danger" *ngIf="hasError"> {{errorMessage}} </ion-note>

    <ion-button (click)="onUpdate(updateUser)" type="submit" expand="block"
      >{{ 'UPDATE_USER.SUBMIT' | translate }}
    </ion-button>
  </form>
</ng-template>
