<h3 class="ion-padding-start" style="margin-bottom: 30px">
  {{ "REFUGE.OCCUPATION.HISTORIAL" | translate }}
</h3>
<div class="modal-card">
  <ngx-charts-bar-vertical
    #verticalBarChart
    [scheme]="colorScheme"
    [results]="formattedChartReservations"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'REFUGE.OCCUPATION.XLABEL' | translate"
    [yAxisLabel]="'REFUGE.OCCUPATION.YLABEL' | translate"
    [xAxisTickFormatting]="xAxisTickFormatting"
  >
  </ngx-charts-bar-vertical>
</div>
