.sign-up-logo {
  min-height: 200px;

  padding: 20px 0;

  text-align: center;
}

.sign-up-logo img {
  max-width: 150px;
  border-radius: 50%;
}

.sign-up-form {
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
}

ion-input {
  margin-bottom: 10px;
}
