<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title> {{ 'LOGIN.HEADER' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img
      src="../../../assets/img/logo.png"
      alt="Test image for the login page"
    />
  </div>

  <div class="login-form">
    <form #loginForm="ngForm" novalidate>
      <ion-input
        label="{{'LOGIN.USERNAME.FIELD' | translate }}"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="(+34) xxx xxx xxx"
        type="tel"
        fill="outline"
        [(ngModel)]="credentials.phone_number"
        name="username"
        errorText="{{'LOGIN.USERNAME.ERROR_REQUIRED' | translate }}"
        required="true"
        [maskito]="phoneMask"
        [maskitoElement]="maskPredicate"
      >
      </ion-input>

      <ion-input
        label="{{'LOGIN.PASSWORD.FIELD' | translate }}"
        labelPlacement="stacked"
        fill="outline"
        [(ngModel)]="credentials.password"
        name="password"
        type="password"
        errorText="{{'LOGIN.PASSWORD.ERROR_REQUIRED' | translate }}"
        required="true"
      >
      </ion-input>
      <ion-note color="danger" *ngIf="errorMessage$ | async as errorMessage">
        <ng-container *ngIf="errorMessage !== null">
          {{ errorMessage }}
        </ng-container>
      </ion-note>

      <ion-row>
        <ion-col>
          <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">
            {{'LOGIN.BUTTON' | translate }}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button [routerLink]="['signup']" color="light" expand="block">
            {{'SIGNUP.BUTTON' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
  <ion-loading
    isOpen="{{ isLoading$ | async }}"
    message="Authenticating..."
    duration="1000"
  ></ion-loading>
</ion-content>
