<ion-app *ngIf="canShowPage$ | async">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="top-menu-list">
        <ion-list-header>RefuApp</ion-list-header>
        <ion-note>refuapp.online</ion-note>

        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let topMenuItem of topMenuItems$ | async"
        >
          <ion-item
            routerDirection="root"
            [routerLink]="[topMenuItem.url]"
            lines="none"
            detail="false"
            routerLinkActive="selected"
          >
            <ion-icon
              aria-hidden="true"
              slot="start"
              [ios]="topMenuItem.icon + '-outline'"
              [md]="topMenuItem.icon + '-sharp'"
            ></ion-icon>
            <ion-label>{{
              topMenuItem.titleTranslateKey | translate
            }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-list id="bottom-menu-list">
      <ion-footer class="bar-stable" id="bottom-menu-item-container">
        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let topMenuBottom of bottomMenuItems$ | async"
        >
          <ion-item
            routerDirection="root"
            [routerLink]="topMenuBottom.url"
            lines="none"
            detail="false"
            routerLinkActive="selected"
          >
            <ion-icon
              aria-hidden="true"
              slot="start"
              [ios]="topMenuBottom.icon + '-outline'"
              [md]="topMenuBottom.icon + '-sharp'"
            ></ion-icon>
            <ion-label>{{
              topMenuBottom.titleTranslateKey | translate
            }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-footer>
    </ion-list>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ng-container *ngIf="isLoading$ | async as loading">
    <ion-loading
      isOpen="{{ loading.isLoading }}"
      message="{{ loading.keyMessage! | translate }}"
    ></ion-loading>
  </ng-container>
</ion-app>
<ng-container *ngIf="hasConnectionError$ | async as error">
  <ion-alert
    isOpen="{{ error }}"
    header="You are offline!"
    message="You are offline or the server is not reachable. Please check your internet connection and try again."
    [buttons]="alertButtons"
  ></ion-alert>
</ng-container>
<ng-container *ngIf="minorErrors$ | async as errorMessage">
  <ion-toast
    [isOpen]="hasMinorErrors$ | async"
    message="{{ errorMessage | translate }}"
    color="danger"
    icon="bug-outline"
    [duration]="3000"
  ></ion-toast>
</ng-container>
